<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Roulette</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <input type="number" placeholder="place your bet" name="msg" class="betAmount">


  <input type="hidden" value="" placeholder="BetValue" name="bet" class="betValue">

  <input type="button" value="red" class="betChoice">
  <input type="button" value="black" class="betChoice">
  <input type="button" value="green" class="betChoice">

  <button type="submit" class="submitBtn">BET</button>
  <button type="submit" class="resetBtn">RESET</button>


  <button style="display: none;" type="submit" id="reset" name="button">RESET</button>


  <h2>Your Balance:<span id="result"></span></h2>

  <h3 id= "who-won"></h3>
  <a href = "/login"><button type ="button" name ="button">Admin Login</button></a>
    <script src="main.js"></script>
  </body>
</html>
